@page "/doctors"
@rendermode InteractiveServer

<div class="container mt-4">
    <h1 class="fw-bold text-primary">Zvoľte lekára</h1>
    <p class="text-muted">Vyberte prosím lekára, ktorého chcete navštíviť</p>

    <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Hľadať lekára" @bind="searchQuery" aria-label="Search">
        <button class="btn btn-secondary" @onclick="Search">
            hľadať
        </button>
    </div>

    <h5 class="fw-bold text-primary">Naposledy navštívení lekári: </h5>

    @foreach (var doctor in recentDoctors)
    {
        <div class="card mt-5" style="border-radius: 8px; background-color: #FFFAFA; border: 1px solid #007bff;">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <i class="bi bi-person-circle text-primary fs-3 me-3"></i>
                    <div>
                        <h5 class="card-title fw-bold mb-1">@doctor.Department</h5>
                        <p class="mb-1">
                            <i class="bi bi-person text-primary"></i>
                            <span>@doctor.FirstName</span>
                        </p>
                        <p class="mb-1">
                            <i class="bi bi-person text-primary"></i>
                            <span>@doctor.Specialization</span>
                        </p>
                        <p class="mb-1">
                            <i class="bi bi-geo-alt text-primary"></i>
                            <span>@doctor.Phone</span>
                        </p>
                        <p class="text-muted">Naposledny navštívené: @doctor.LastVisited.ToString("dd. MM. yyyy")</p>
                    </div>
                </div>
                <div class="text-end">
                    <button class="btn btn-link text-primary" @onclick="SelectDoctor">Select</button>
                </div>
            </div>
        </div>
    }


    <div> 
        <p>sprava @message
            sprava @searchQuery</p>
    </div>
</div>

@code {
    private string searchQuery;
    private string message;

    private List<Doctor> recentDoctors = new List<Doctor>
    {
        new Doctor { Department = "Eye clinic", FirstName = "MUDR. mario vydra", Specialization = "chirurg", Phone = "023566", LastVisited = new DateTime(2024, 12, 13) }
    };

    private void Search()
    {
        Console.WriteLine("search");
        searchQuery = "search";
    }

    private void SelectDoctor()
    {
        message = "funguje";
        Console.WriteLine("funguje");
    }

    public class Doctor
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Specialization { get; set; }
        public string Department { get; set; }
        public string Phone { get; set; }
        public string Mail { get; set; }
        public DateTime LastVisited { get; set; }
    }
}

